@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fa-xmark,#iconHam{
    display: none;
    color:rgba(21, 233, 21, 0.719);
    font-size: 1.5rem;
    cursor: pointer;
}
@media(max-width:1100px){
    .resNav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #iconHam{
        display: inline-block;
    }
    #header{
        display: flex;
        flex-direction: column;
        background-color: white !important;
    }
    #header .nav{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 10px;
    }
}
@media(max-width:768px){
    .resNav>h1{
        text-align: center;
    }
}
header #header{
    display: none;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    background-color: white !important;
    position: fixed;
    z-index: 999;
}
header #header i{
    margin: 0 15px ;
    cursor: pointer;
}
.nav li:first-child{
    color: rgba(21, 233, 21, 0.719);
}
header .nav{
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav li{
    position: relative;
    padding: 20px;
    cursor: pointer;
}
.nav li:first-child::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    background-color: rgba(21, 233, 21, 0.719);
    bottom: 0%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.nav li:hover::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    background-color: rgba(21, 233, 21, 0.719);
    bottom: 0%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.nav a{
    color: black;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
#Home{
    width: 100%;
     background-color: rgba(0, 0, 0, 0.801);
     padding: 30px;
}
.landingG{
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    margin: 30px auto;
    color:white;
}
@media(max-width:768px){
    .landingG{
        width: 98%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
    }
    .landingP{
        width: 100%;
    }
    .landingP h1{
     font-size: 25px !important;
     text-align: center;
     width: 98%;
    }
    .landingP p{
        font-size: 1rem;
    }
 

}
.landingG img{
    width: 90%;
    margin: 20px auto;
}
.landingP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   width: 90%;
   margin: 10px auto;
}
.landingP h1{
    font-size: 2.7rem;
}
.landingP p{
    font-size: 1.4rem;
}
.landingI{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landingI input{
    width: 100%;
    padding: 17px;
    outline: 0;
    border: 1px solid white;
    border-radius: 18px;
    position: relative;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    background-color: transparent;
}
.landingI button{
     margin: 15px;
     padding: 17px;
     border: 0;
     font-size: 15px;
     background-color: rgba(100, 150, 100, 0.774);
     color: white;
     border-radius:15px ;
     -webkit-border-radius:15px ;
     -moz-border-radius:15px ;
     -ms-border-radius:15px ;
     -o-border-radius:15px ;
     cursor: pointer;
}
.landingI button:hover{
    background-color: rgb(60, 117, 60);
}
.landingI input::placeholder{
    color: white;
}
#Home>h1{
    width: 80%;
    margin: 20px auto;
    font-size: 2.5rem;
    color: white;
}
#Home>h1>i{
    margin: 0 15px ;
}
#Features{
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Features>h1{
    font-size: 3rem;
}
#Features>p{
    margin: 30px 0;
    font-size: 1.15rem;
  text-align: center;
    width: 40%;
    opacity: 0.5;
}
@media(max-width:768px){
    #Features>h1{
        font-size: 1.7rem;
    }
    #Features>p{
        width: 80%;
    }
}
#Features>div{
    width: 90%;
    margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.feature{
    margin: 20px;
  width: 340px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:20px
}
.feature i{
   font-size: 4rem;
   color: rgba(21, 233, 21, 0.719);
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
   margin-bottom: 10px;
}
.feature i:hover{
    animation: popUp 1s linear infinite;
    -webkit-animation: popUp 1s linear infinite;
    cursor: pointer;
}
@keyframes popUp {
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
}
.feature>p{
    opacity: 0.6;
    color: gray;
}
hr{
    width: 80%;
    margin: 10px auto;
    opacity: 0.7;
}
.chapters{
    display: grid;
    width: 95%;
    margin: 10px auto;
    grid-template-columns: 50% 50%;
}
.rightSection img{
   width: 90%;
   margin: 10px auto;
}
.leftSection{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: 20px auto;
}
.leftSection>div{
    display: flex;
    margin: 20px;
    gap: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.leftSection>div:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.leftSection i{
    color: rgba(31, 192, 31, 0.719);
    font-size: 2.3rem;
    margin: 10px ;
}
.leftSection>div h2{
    font-weight: 300;
}
.leftSection p{
    width: 80%;
    opacity: 0.6;
    margin: 10px;
}
.leftSection i:hover{
    animation: popUp 1s linear infinite;
    -webkit-animation: popUp 1s linear infinite;
    cursor: pointer;
}
@media(max-width:768px){
    .chapters{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
    }
    .leftSection{
        justify-content: center;
        align-items: center;
    }
    .leftSection p{
        width: 80%;
    }
    .leftSection>div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
#Authors{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.164);
}
#Authors img{
    width: 100%;
}
#Authors>div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
}
#Authors>div>h2{
  margin: 30px 0;
  font-size: 2.5rem;
}
#Authors>div>p{
    width: 85%;
    opacity: 0.7;
    font-size: 1.3rem;
}
@media(max-width:768px){
    #Authors{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
    }
    #Authors>div>h2{
        font-size: 2rem;
        text-align: center;
    }
    #Authors>div>p{
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
}
#reviews{
    width: 80%;
    margin: 60px auto;
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reviews img{
    width: 90px ;
    height: 90px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#reviews section{
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: start;
}
#reviews section>div{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 10px;
}
#reviews section>div>p{
    font-size: 20px;
    text-align: center;
}
#reviews section>div>h5{
    opacity: 0.5;
}
#pricing{
    display: flex;
    background-color: rgba(211, 211, 211, 0.192);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
#pricing>p{
    width: 45%;
    margin: 20px auto;
    font-size: 20px;
    opacity: 0.6;
}
#pricing>h1{
    margin-top: 20px;
}
#pricing>div{
    display: flex;
    width: 95%;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#pricing>div>section{
  background-color: white;
  width: 320px;
  padding: 30px;
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border: 1px solid lightgray;
  transition: 1.2s;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  -o-transition: 1.2s;
}
#pricing>div>section>i{
    color: rgba(31, 192, 31, 0.719);
    font-size: 30px;
    margin: 15px;
}
#pricing>div>section>div>h1{
    font-size: 65px;
    display: inline;
    margin: 5px;
}
#pricing>div>section>div{
    display: flex;
}
#pricing>div>section>p,#pricing>div>section>h5{
    opacity: 0.7;
    text-align: center;
    color: gray;
}
#pricing>div>section>button{
    padding: 12px 25px;
    border: 0;
    color: white;
    background-color: rgba(31, 192, 31, 0.719);
    margin: 20px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#pricing>div>section:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
@media(max-width:768px){
    #pricing>p{
        width: 80%;
    }
    #pricing>div>section{
       padding: 10px;
    }
    #pricing>div>section>button{
        font-size: 15px;
    }
}
#download{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgb(36, 34, 34);
}
#download>h1{
    margin: 30px;
    text-align: center;
    width: 50%;
     font-size: 2.5rem;
}
#download>p{
    width: 40%;
    text-align: center;
    opacity: 0.7;
}
#download>button{
    border-radius:20px ;
    background-color: rgba(31, 192, 31, 0.719);
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border: 0;
    margin: 30px;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
@media(max-width:768px){
    #download>h1{
        font-size: 1.3rem;
        width: 90%;
    }
    #download>p{
        font-size: 1rem;
        width: 80%;
    }
}